<div id="main_content">
		<div id="header">	
			<div class="buttons">
				<button class="button"><%=link_to "New Team", new_team_path %></button>
		</div>
	</div>
</div>

<% @teams.each do |team| %>
	<div class="team_wrapper">
		<h2 class="name"><%= link_to team.name, team %></h2>
		<p class="sport">Sport: <%= team.sport %></p>
	</div>
<% end %>