<div id="main_content">
		<div id="header">	
			<div class="buttons">
			<button class="button">New Game</button>
			<button class="button">New Team Member</button>
		</div>
	</div>
</div>

<div id="team_content">
	<h1 class="name">
		<%= @team.name %>
	</h1>

	<p class="sport">
		Sport: <%= @team.sport %>
		<%= link_to '| Edit', edit_team_path(@team) %>
		<%= link_to '| Delete', team_path(@team), method: :delete, data: { confirm: 'Are you sure?'} %>
	</p>
</div>