<div class="member clearfix">
	<div class="member_content">
		<p class="member_email"><%= game.date_time %></p>
		<p class="member_email"><%= game.location %></p>
	</div>

	<% if user_signed_in? %>
	<p><%= link_to 'Delete', [game.team, game],
									method: :Delete,
									class: "button",
									data: { confirm: 'Are you sure?'} %>
	</p>
	<% end %>
</div>